<section class="custom-header">
  <nav class="navbar navbar-expand-lg bg-light">
<div class="container-fluid">
  <a class="navbar-brand text-xl font-bold text-gray-600 transition-colors duration-300 dark:text-white hover:text-gray-700 dark:hover:text-gray-300" href="/">Blogify</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Policies
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/terms-&-conditions">Terms & Conditions</a></li>
          <li><a class="dropdown-item" href="/privacy-policy">Privacy Policy</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Refund Policy</a></li>
        </ul>
      </li>
    </ul>
    <form>
      <a class="btn btn-themeColor" href="/compose">Compose</a>
    </form>
  </div>
</div>
</nav>
</section>
